@import 'descriptions';

.accessibility-link {
  .transition(color);
  .transition(box-shadow);
  .transition(opacity);
  .h8();

  &:hover {
    .disable& {
      opacity: unset;
      pointer-events: none;
    }
  }

  &:active {
    .disable& {
      opacity: unset;
      pointer-events: none;
    }
  }

  &:focus-visible {
    .radius(8);
    box-shadow: 0 0 0 1px @black;

    .disable& {
      box-shadow: unset;
    }
  }

  &, &--m-44, &--xs-24-black, &--xs-24-blue {
    &:hover {
      color: @text-hover;
    }

    &:active {
      color: @text-active;
    }

    &:focus-visible {
      color: @text-active;
    }
  }

  &--xs-24-blue {
    .h9();
  }

  &--blue {
    color: @text-brand;
  }

  &--with-arrow {
    display: flex;
    align-items: center;
    gap: @offset8;
  }

  &:disabled,
  &[disabled],
  &.disable {
    color: @text-disabled;
  }
}

.inherit-link {
  font-size: inherit;
  font-weight: inherit;
  display: inline;
}
