@import 'descriptions';

.buy-actions {
  height: 100%;
  align-self: stretch;

  &__title {
    margin-bottom: @offset24;

    @media @tablet {
      margin-bottom: @offset16;
    }
  }

  &__types {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: @offset40;

    @media @tablet {
      margin-bottom: @offset24;
    }
  }

  &__tabs {
    display: none;

    @media @tablet {
      .radius(12);
      background-color: @bg-secondary;
      display: flex;
      margin-bottom: @offset32;
    }
  }

  &__tab {
    .btn-default();
    .btn-primary-inv();
    .radius(12);
    flex: 1;
    background-color: transparent;
    height: 48px;

    &.active {
      background-color: @bg-active;
      color: @white;
    }
  }

  &__types-btn {
    .transition(background-color);
    .transition(color);
    background-color: @bg-secondary;

    &:hover {
      @media @large-than-tablet {
        background-color: @bg-hover;
      }
    }

    &.active {
      background-color: @bg-active;
      color: @white;
    }
  }

  &__filters {
    .f-column(12);
    margin-bottom: @offset24;
  }

  &__points-slider {
    height: 100%;
  }

  &__points {
    height: 442px;

    @media @l-tablet {
      height: 242px;
    }

    @media @tablet {
      .v-hidden();

      &.show {
        .v-show();
        height: 580px;
      }
    }

    .buy[data-buy-type] & {
      height: 600px;

      @media @xxl-tablet {
        height: 500px;
      }

      @media @l-tablet {
        height: 420px;
      }

      @media @tablet {
        height: 588px;
      }
    }
  }

  &__point {
    .transition(border-color);
    cursor: pointer;
    border: 1px solid @border-primary;
    padding: @offset16;
    position: relative;

    @media @tablet {
      background-color: @bg-tertiary;
      border-color: transparent;
    }

    &.active {
      @media @large-than-tablet {
        border: 1px solid @border-active;
      }
    }
  }

  &__point-type {
    .p3();
    color: @text-tertiary;
    margin-bottom: @offset12;
  }

  &__point-name {
    .h7();
    font-weight: 700;
    margin-bottom: @offset12;
  }

  &__point-address {
    .p2();
    margin-bottom: @offset8;
  }

  &__point-mails {
    .p2();
  }

  &__point-mail {
  }

  &__point-contacts {
    display: flex;
    align-items: center;
    gap: @offset12;
    flex-wrap: wrap;
    margin-top: @offset20;
  }

  &__point-site {
  }

  &__point-phone {
  }

  &__show-more {
    display: none;

    @media @tablet {
      &.show {
        display: flex;
        width: 100%;
        margin-top: @offset32;
      }
    }
  }
}