@import "descriptions";

.buy {
  display: grid;
  grid-template-columns: 41.2% calc(58.8% - @offset12);
  gap: @offset12;

  @media @tablet {
    width: 100%;
    grid-template-columns: 1fr;
  }

  &__actions {
  }

  &__map-shell {
    width: 100%;
    overflow: hidden;
    position: relative;

    @media @tablet {
      position: absolute;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
      height: 458px;

      &.show {
        margin: initial;
        border: initial;
        padding: initial;
        clip: unset;
        position: relative;
        height: 458px;
      }
    }
  }

  &__map-toolbar {
    .f-center(8);
    .absX-alignment();
    top: 10px;
    z-index: 1;
  }

  &__map-toolbar-btn {
    .btn-secondary();
    .radius();
    flex: none;
    height: 36px;
    padding: 4px 6px;
  }

  &__map {
    width: 100%;
    height: 100%;

    @media @tablet {
      height: 458px;
    }
  }
}
