@import "descriptions";

.buy {
  display: grid;
  grid-template-columns: 41.2% calc(58.8% - @offset12);
  gap: @offset12;
  height: 736px;

  @media @tablet {
    height: 500px;
  }

  @media @s-tablet {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
  }

  &__actions {
  }

  &__map-shell {
    width: 100%;
    overflow: hidden;
    position: relative;

    @media @s-tablet {
      .v-hidden();

      &.show {
        .v-show();
      }
    }
  }

  &__map-toolbar {
    .f-center(8);
    .absX-alignment();
    top: 10px;
    z-index: 1;
  }

  &__map-toolbar-btn {
    .btn-secondary();
    .radius();
    padding: 4px 6px;
    height: 36px;
  }

  &__map {
    height: 100%;

    @media @s-tablet {
      height: 458px;
    }
  }
}
