@import 'descriptions';

.select {
  .Inter();
  position: relative;
  width: 100%;
  flex: none;


  &__current-btn-container {
    position: relative;
  }

  &__current-btn {
    .p1();
    .Inter();
    .radius(12);
    .transition(border-color);
    .transition(background-color);
    .transition(color);
    border: 1px solid @border-primary;
    width: 100%;
    padding: 12px @offset16;
  }

  &__options {
    .radius(8);
    background-color: @white;
    border: 1px solid @border-primary;
    box-shadow: 0 4px 15px 0 #0000001A;
    overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    padding: @offset8;
    max-height: 204px;
    display: none;

    @media @large-than-tablet {
      .hide-scrollbar();
    }

    .select.open & {
      .smooth-show();
      .f-column(4);
    }
  }

  &__options-title {
    //.fs14-16(400);
    //color: @;
    padding: @offset10 @offset16;
  }

  &__option {
    //.NotoSans();
    .radius(8);
    .f-between();
    //color: @neutral900;
    padding: 9px;

    &:hover {
      @media @large-than-tablet {
        //background-color: @blue5;
      }
    }

    &:active {
      @media @tablet {
        //background-color: @blue5;
      }
    }

    .active& {
      //background-color: @blue5;
    }
  }

  &__native {
    .square(0);
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
  }
}
