@import 'descriptions';

.breadcrumbs {
  display: flex;
  gap: @offset8;
  flex-wrap: wrap;

  @media @tablet {
    display: none;
  }

  &__shell {
    display: flex;
    align-items: center;
    gap: @offset12;
  }

  &__back-btn {
    .h8();
    display: flex;
    align-items: center;
    gap: @offset8;
    min-width: 226px;

    .header--search & {
      @media @tablet {
        display: flex;
      }
    }

    svg {
      margin-top: -3px;
    }
  }

  &__item {
    .f-center(8);

    &:last-child {
      pointer-events: none;

      &::after {
        content: none;
      }

      a {
        .h8();
      }
    }

    .breadcrumbs__item:last-child svg {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: @offset8;
  }
}
